* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #202020;
}

/* OpenGL canvas container */
#glCanvas {
  z-index: 0;
}

/* Main UI container */
#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
}

/* Debug display */
#debug {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  min-width: 128px;
  min-height: 16px;
  background: rgba(112, 51, 51, 0.50);
  color: #ffffff;
}

#debug ul {
  list-style-type: none;
}

#debug .warning {
  color: orange;
}

#debug .danger {
  color: red;
}
