* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #202020;
}

/* OpenGL canvas container */
#glCanvas {
  z-index: 0;
}

/* Main UI container */
#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
}

/* Debug display */
#overlay-debug {
  position: absolute;
  color: #ffffff;
  text-shadow: 2px 2px black;
}

#overlay-debug div {
  position: relative;
  display: block;
  margin: 8px;
}

#overlay_debug_gl {
  font-size: 1em;
}

#overlay_debug_game {
  color: #F4C67A;
}
